body {
    background-color: #f1f0ee;
}

img {
    width: 240px;
}

.settings {
    margin-left: 300px;
    margin-right: auto;
    margin-top: 30px;
    text-align: center;
    display: block;
    width: 75%;
    background-color: white;
    padding: 20px;
}

table#user-info {
    size: 20px;
    margin:auto;
    text-align: left
}

table#user-info td:nth-child(1) {
    min-width: 100px;
}

table#user-info td {
    padding: 10px;
    height: 70px;
}

input.user-input {
    width: 200px;
    height: 30px;
}

.sidebar a:hover {
    color: #e0474c;
}

.sidebar a.active {
    color: #7acfd6;
}